<body id="wall" data-gr-c-s-loaded="true">



<!--Left Sidebar with info Profile -->
<div class="sidebar-nav">
    <a href="#!/profile/{{curUser.id}}" title="Profile">
        <img src="../../../images/avatars/male.jpg" alt="User name" class="rounded-circle img-user">
    </a>
    <h2 class="text-center hidden-xs profile-name"><a href="#!/profile/{{curUser.id}}" title="Profile">{{curUser.username}}</a></h2>
    <p class="text-center user-description hidden-xs">
        <i>Profile description!</i>
    </p>
</div>

<!--Wall with Post -->
<div class="content-posts active" id="posts" data-ng-init="getUserPosts()">
    <div id="posts-container" class="container-fluid container-posts" data-ng-init="getPosts()">

        <div class="row">
            <!--middle container-->
            <div class="col-md-6">

                <div class="card-post" style="margin-top:16px;">
                    <h2>Friends list</h2>
                    <div class="profile-block" data-ng-repeat="user in users">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <a href="#" title="Profile">
                                    <img data-ng-if="user.gender === 'male'" src="../../../images/avatars/male.jpg" alt="User name"
                                         class="rounded-circle img-user">
                                    <img data-ng-if="user.gender === 'female'" src="../../../images/avatars/female.jpg" alt="User name"
                                         class="rounded-circle img-user">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h3 style="margin-top:10px;font-size:12px;margin-bottom:10px;"><a href="#" title="Profile">{{user.firstname}} {{user.lastname}}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--right sidebar-->
            <div class="col-md-6" data-ng-init="getUserProfiles()">

                <div class="card-post" style="margin-top:16px;">
                    <h2>Following list</h2>
                    <div class="profile-block" data-ng-repeat="user in users">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <a href="#" title="Profile">
                                    <img data-ng-if="user.gender === 'male'" src="../../../images/avatars/male.jpg" alt="User name"
                                         class="rounded-circle img-user">
                                    <img data-ng-if="user.gender === 'female'" src="../../../images/avatars/female.jpg" alt="User name"
                                         class="rounded-circle img-user">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h3 style="margin-top:10px;font-size:12px;margin-bottom:10px;"><a href="#" title="Profile">{{user.firstname}} {{user.lastname}}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
