<body id="wall" data-gr-c-s-loaded="true">



<!--Left Sidebar with info Profile -->
<div class="sidebar-nav">
	<a href="#" title="Profile">
		<img src="../../../images/stock_user.jpg" alt="User name" class="rounded-circle img-user">
	</a>
	<h2 class="text-center hidden-xs"><a href="#" title="Profile">My User</a></h2>
	<p class="text-center user-description hidden-xs">
		<i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i>
	</p>
</div>

<!--Wall with Post -->
<div class="content-posts active col-md-8" id="posts">
	<div id="posts-container" class="container-fluid container-posts" data-ng-init="getPosts()">

		<div id="todo-form" class="row" style="padding:15px;">
			<div class="col-xs-8 col-sm-offset-2 text-center" style="margin-bottom: 20px;">
				<form>
					<div class="form-group">
						<div class="input-group">
							<textarea rows="4" cols="500" class="form-control input-lg"
									  placeholder="What is on your mind?" ng-model="formData.content"></textarea>
							<span class="input-group-addon btn btn-add btn-lg textarea-addon" ng-click="addPost()">Post</span>
						</div>
					</div>
					<!--<button type="submit" class="btn btn-add btn-lg" ng-click="addPost()">Post</button>-->
				</form>
			</div>
		</div>

		<div class="card-post" ng-repeat="post in posts | orderBy: '-created_date'">
			<div class="row">
				<div class="col-xs-3 col-sm-2 text-center">
					<a href="#" title="Profile">
						<img src="../../../images/stock_user.jpg" alt="User name" class="rounded-circle img-user">
					</a>
					<h3 style="margin-top:10px;"><a href="#" title="Profile">My User</a></h3>
					<p><i>2h</i></p>
				</div>
				<div class="col-sm-8 col-sm-offset-1 data-post">
					<p>{{post.content}}</p>
					<div class="reaction">
						<span class="like-icon"><i class="fas fa-thumbs-up"></i></span> 156 <span class="dislike-icon"><i class="fas fa-thumbs-down"></i></span> 54
					</div>
					<div class="comments" data-ng-init="getPostComments(post.id)">
						<div class="more-comments">View more comments</div>
						<ul>
							<li data-ng-repeat="comment in comments">
								<b>{{curUser.username}}:</b> {{comment.comment}}</li>
						</ul>
						<form>
							<input type="text" class="form-control" placeholder="Add a comment">
						</form>
					</div>
				</div>
			</div>
		</div>

	<!--Close #posts-container-->
	<div id="loading" style="display: none;">
		<img src="./images/load.gif" alt="loader">
	</div>
</div>
</div>
<!-- Close #posts -->
<!-- Modal container for settings--->
<div id="settingsmodal" class="modal fade text-center">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>

</body>
