.like-icon {
    color: #4267B2;
}

.dislike-icon {
    color: #808080;
}

.textarea-addon {
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 4px !important;
    border:1px solid #ccc !important;
    border-bottom: none !important;
}

.btn-add {
    background-color: #3b5998;
    border-color: #3b5998;
    color: white;
}

.btn-small {
    background-color: #3b5998;
    border-color: #3b5998;
    color: white;
    height: 25px;
    font-size: 12px;
}

.profiles {
    background: #ffffff;
    padding: 15px;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top:16px;
}

.profile-block {
    padding: 10px;
    height: 100px;
}

.profile-name {
    margin-top: 10px;
}