.like-icon {
    color: #4267B2;
}

.dislike-icon {
    color: #808080;
}

.textarea-addon {
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 4px !important;
    border:1px solid #ccc !important;
    border-bottom: none !important;
}

.btn-add {
    background-color: #3b5998;
    border-color: #3b5998;
    color: white;
}